<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Distribution.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B98462B482046FAC206A2E70C180999C6A495C21</string>
				<key>dateExpires</key>
				<string>22.09.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B74692B479.net.svedm.Distribution</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B74692B479</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Distribution.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a83afae7-2e5f-4e06-bb29-49c8bd3041b7</string>
				<key>dateExpires</key>
				<string>04.05.2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: net.svedm.Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B74692B479</string>
				<key>name</key>
				<string>KHABIKS, OOO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
